<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>我的特权-个人成长 - 马蜂窝</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="renderer" content="webkit" />

<script type="text/javascript">
window.Env = {"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","W_HTTP":"http:\/\/w.mafengwo.cn","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","PAGELET_HTTP":"http:\/\/pagelet.mafengwo.cn","JS_HOST":"js.mafengwo.net","TONGJI_HOST":"tongji.mafengwo.cn","UID":30557563,"CSTK":"120cb365d9ad3a27b7d00f96b822b58d_78a28ccb0fc9607f60b722fb2c95465f","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ","MOBILE_BINDED":true};
</script>

<link href="css/topbar.css" rel="stylesheet" type="text/css"/>


<link href="css/rank.css" rel="stylesheet" type="text/css"/>

<script language="javascript" src="js/inspector.js" type="text/javascript" crossorigin="anonymous"></script>

</head>
<body>
    
    <div class="topBar">
        <div class="topBarC">
            <div class="logo"><a title="马蜂窝自由行" href="/">马蜂窝自由行</a></div>
            <div class="t_nav">
                <ul id="pnl_nav" data-cs-t="headnav_wo">
                    <li data-cs-p="index">
                        <strong class="t"><a href="/">首页</a></strong>
                    </li>
                    <li data-cs-t="wenda" data-cs-p="wenda">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/wenda/">问答</a></strong>
                    </li>
                    <li data-cs-t="things" data-cs-p="things">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/mall/things.php">马蜂窝周边</a></strong>
                    </li>
                    <li data-cs-p="together">
                        <strong class="t"><a href="/together/">结伴</a></strong>
                    </li>
                    <li data-cs-p="group">
                        <strong class="t"><a href="/group/">小组</a></strong>
                    </li>
                    <li data-cs-p="mall">
                        <strong class="t"><a href="/club/">蜂首俱乐部</a></strong>
                    </li>
                    <li class="drop" data-cs-p="other">
                        <strong class="t"><a href="/app/hun.php">更多<b></b></a></strong>
                        <div class="c">
                            
                            <a href="/focus/" target="_blank">真人兽</a>
                            
                            <a href="/school/" target="_blank">马蜂窝高校</a>
                            <a href="/photo_pk/prev.php" target="_blank">照片PK</a>
                            <a href="/auction/" target="_blank">马蜂窝拍卖行</a>
                            <a href="/mall/virtual_goods.php" target="_blank">道具商店</a>
                            <a href="/radio/" target="_blank">旅行电台</a>
                            <a href="/club/" target="_blank">蜂首聚乐部</a>
                            <a href="/home/vip_show.php" target="_blank">VIP</a>
                            <a href="/game/wager.php" target="_blank">分歧终端机</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="t_search">
                <form method="GET" action="/search/s.php" name="search">
                    <input type="text" class="key" value="" name="q" id="word">
                    <input type="submit" value="" class="btn">
                </form>
            </div>

            <div class="t_info">
            <div data-pagelet id="pagelet-block-876d808034621e27e643eb14fd061ca0" class="" data-api="apps:user:pagelet:pageViewHeadInfo" data-params="{&quot;type&quot;:2}" data-async="1" data-controller="/js/pageletcommon/pageHeadUserInfoWWWDark"></div>
            </div>
        </div>
    </div>



<script language="javascript" src="js/datepicker.js" type="text/javascript" crossorigin="anonymous"></script>

<style>
    @-webkit-keyframes lvcircle{
        0% {
            stroke-dasharray:0%, 250%;stroke-dashoffset:0%; opacity:0;
        }
        5%  {
            stroke-dasharray:5%, 250%;stroke-dashoffset:0%; opacity:1;
        }
        100%  {
            stroke-dasharray:0%, 250%;stroke-dashoffset:0%; opacity:1;
        }
    }
    @-moz-keyframes lvcircle{
        0% {
            stroke-dasharray:0%, 250%;stroke-dashoffset:0%; opacity:0;
        }
        5% {
            stroke-dasharray:5%, 250%;stroke-dashoffset:0%; opacity:1;
        }
        100% {
            stroke-dasharray:0%, 250%;stroke-dashoffset:0%; opacity:1;
        }
    }

    @-o-keyframes lvcircle{
        0%   {
            stroke-dasharray:0%, 250%;stroke-dashoffset:0%; opacity:0;
        }
        5%  {
            stroke-dasharray:5%, 250%;stroke-dashoffset:0%; opacity:1;
        }
        100%  {
            stroke-dasharray:0%, 250%;stroke-dashoffset:0%; opacity:1;
        }
    }

    @keyframes lvcircle
    {
        0%   {
            stroke-dasharray:0%, 250%;stroke-dashoffset:0%; opacity:0;
        }
        5%  {
            stroke-dasharray:5%, 250%;stroke-dashoffset:0%; opacity:1;
        }
        100%  {
            stroke-dasharray:0%, 250%;stroke-dashoffset:0%; opacity:1;
        }
    }
</style>
<div class="wrap">
    <div class="mylv">
        <div class="circle">
            <svg id="svgbg" width="480" height="480" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50%" cy="50%" r="40%" stroke-width="15px"/>
            </svg>
            <svg id="svgForStroke" width="480" height="480" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50%" cy="50%" r="40%" stroke-width="15px"/>
            </svg>
        </div>
                                    <div class="thehill stage1">
            <div class="growline"></div>
            <div class="dot dot1"><span>lv1-lv6</span><i></i></div>
            <div class="dot dot2"><span>lv7-lv15</span><i></i></div>
            <div class="dot dot3"><i></i><span>lv16-lv22</span></div>
            <div class="dot dot4"><i></i><span>lv23-lv30</span></div>
            <div class="dot dot5"><i></i><span>lv30+</span></div>
        </div>
        <div class="info">
            <p class="t1">Lv.1</p>
            <p class="t2">0/30</p>
            <p class="t3">------升级还需30经验------ </p>
        </div>
                <div class="quick-bar">
            <div class="bar">快速升级秘笈：从Lv.1升级到Lv.2你只需要<a href="/setting/avatar/" target="_blank">上传头像</a></div>
        </div>
            </div>
    <div class="navs" style="position:relative">
        <a id="main" style="position:absolute; top:-38px; height:1px; display:inline-block;z-index:-1;"></a>
        <div class="w980">
            <a href="lv.php" class="on">个人成长</a>
            
            <a href="growup.php#main">成长体系</a>
        </div>
    </div>
    
    <div class="badges">
    <div class="hd">什么是Lv等级</div>
        <div class="bd whats_rivilege">
            <p>Lv等级是马蜂窝用户在网站的成长记录，它也代表着每个人在这里投入的时长。</p>
            <p>Lv等级的升高，是积累经验值的过程和结果， </p>
            <p>每天的登录、发表一篇游记、回答一个旅行问题、发布一条旅行笔记等，都是获得经验值的途径........ </p>
            <div class="view_detail"><a href="/g/i/6443573.html" title="查看详细的Lv等级介绍" target="_blank">查看详细的Lv等级介绍</a></div>
        </div>
                                                <div class="hd">
            已获得<strong>1</strong>特权
                    </div>
        <div class="bd _j_get_box">
                                                                            <div class="list" style="height:280px;">
                                <ul class="_j_slide_box" style="width:180px;position: relative; min-width:980px;"  data-num="0" data-birth="0000-00-00">
                                                                        <li data-scrollbar="0">
                                <div class="badge"><i class="i2"></i></div>
                                <div class="getterm"><span>Lv.1级获得</span></div>
                                <div class="desc">
                                    <p>好友上限</p>
                                    <div class="_j_button" style="display: none;">
                                                                            </div>
                                </div>
                                <div class="pop">
                                    <p class="t1">
                                        特权名称：<strong>好友上限</strong><br>可获得等级：<strong>Lv1</strong>
                                    </p>
                                    <p class="t2">
                                        特权简介：可关注好友上限3000人
                                    </p>
                                </div>
                            </li>
                                                            </ul>
            </div>
        </div>
        <div class="hd hd2">即将获得特权</div>
                <div class="bd">
            <div class="list">
                <ul><li class="disable">
                            <div class="badge"><i class="i3"></i></div>
                            <div class="getterm"><span>Lv.3级获得</span></div>
                            <div class="desc">
                                <p>申请宝藏</p>
                            </div>
                            <div class="hovertips">可申请成为宝藏游记</div>
                        </li><li class="disable">
                            <div class="badge"><i class="i6"></i></div>
                            <div class="getterm"><span>Lv.4级获得</span></div>
                            <div class="desc">
                                <p>申请指路人</p>
                            </div>
                            <div class="hovertips">可申请成为问答指路人</div>
                        </li><li class="disable">
                            <div class="badge"><i class="i17"></i></div>
                            <div class="getterm"><span>Lv.20级获得</span></div>
                            <div class="desc">
                                <p>申请VIP</p>
                            </div>
                            <div class="hovertips">可申请成为马蜂窝VIP</div>
                        </li></ul>
                
            </div>
        </div>
            </div>
    <div class="extra" style="background-color:#efefef;">
        <div class="w980">
            <div class="hd">我有<strong>0</strong>蜂蜜</div>
            <div class="bd">
                <ul class="clearfix">
                    <li>
                        <div class="title">什么是蜂蜜？</div>
                        <p>“蜂蜜”是马蜂窝用于 【兑换等价实物和纪念品】 的专属货币</p>
                        <p>是马蜂窝针对【您对其他蜂蜂做出的帮助】而设立的奖励</p>
                    </li>
                    <li>
                        <div class="title">蜂蜜能做什么？</div>
                        <p>使用蜂蜜，可以在马蜂窝【<a href="/mall/" target="_blank">马蜂窝商店</a>】，换取相应的礼品和代金券</p>
                        <p>还可参加<a href="/mall/zhongchou.php?zid=10002" target="_blank">蜂蜜众筹</a>赢取每期重磅大礼</p>
                    </li>
                    <li>
                        <div class="title">如何获得蜂蜜？</div>
                        <p>通过游记、行程、问答、足迹、点评都有机会获得蜂蜜，还有<a href="/mall/lottery.php" target="_blank">蜂蜜大转盘</a>抽奖随机送1~200蜂蜜</p>
                        <p>详情点击：<a href="/i/2947856.html" target="_blank">《蜂蜜小百科》</a></p>
                    </li>
                </ul>
                <div class="btn"><a href="/mall/">去马蜂窝商店看看 ></a></div>
            </div>
        </div>
    </div>
    <!--ExtraEnd-->
    <!--Extra-->
    <div class="extra" id="coin">
        <div class="w980">
            <a name="coin"></a>
            <div class="hd">我有<strong>0</strong>金币</div>
            
            <div class="cd">
                <p>金币是马蜂窝的虚拟货币，参加各种社区活动都可以获得金币，金币可以购买特殊道具，还会定期开放各种有意思的兑换通道。<a href="http://www.mafengwo.cn/i/3358480.html" target="_blank">规则详情&gt;</a></p>
                
                <a class="btn" href="/game/bank/index?flag=-1" title="金币转账">金币转账</a>
            </div>
        </div>
    </div>

</div>
<link href="css/footer.css" rel="stylesheet" type="text/css"/>

<div id="footer">
	<div class="ft-content" style="width: 1105px">
	

	</div>
</div>


<link href="css/toolbar.css" rel="stylesheet" type="text/css"/>

<div class="mfw-toolbar" id="_j_mfwtoolbar">
    
    <div class="toolbar-item-down">
		<a role="button" class="btn _j_gobottom">
			<i class="icon_down"></i>
            <em>页面底部</em>
		</a>
	</div>
</div>


<script language="javascript" type="text/javascript">
if (typeof M !== "undefined" && typeof M.loadResource === "function") {
M.loadResource("http://js.mafengwo.net/js/cv/js+pageletcommon+pageHeadUserInfoWWWDark:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+M+module+Slider:js+jquery.mousewheel.min:js+M+module+ScrollBar:js+activity+AUserLv:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^Zlda^1559526936.js");
}
</script>

</body>
</html>
