<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<base href="http://localhost:8081/"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>发布结伴 - 马蜂窝</title>
<meta name="renderer" content="webkit" />
<script type="text/javascript">
window.Env = {"has_logo":1,"user_lv":1,"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","W_HTTP":"http:\/\/w.mafengwo.cn","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","PAGELET_HTTP":"http:\/\/pagelet.mafengwo.cn","JS_HOST":"js.mafengwo.net","TONGJI_HOST":"tongji.mafengwo.cn","UID":30557563,"CSTK":"c13fc717d69e7e422eba39b8cab2238e_8de8732a8e64d970a51da969c2419634","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ","MOBILE_BINDED":true};
</script>
<link href="front/css/topbar.css" rel="stylesheet" type="text/css"/>
<link href="front/css/custom.css" rel="stylesheet" type="text/css"/>
<link href="front/css/toolbar.css" rel="stylesheet" type="text/css"/>
<link href="front/css/footer.css" rel="stylesheet" type="text/css"/>

<script language="javascript" src="front/js/inspector.js" type="text/javascript" crossorigin="anonymous"></script>
<style>
       .mdd-hover{
           background: #fff6df;
           color: #ff8a00;
       }
</style>
<!--<script language="javascript" type="text/javascript">
if (typeof M !== "undefined" && typeof M.loadResource === "function") {
M.loadResource("http://js.mafengwo.net/js/cv/js+pageletcommon+pageHeadUserInfoWWWDark:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+M+module+dialog+BindMobileAlert:js+jquery-ui-core:js+jquery-ui-datepicker:js+jquery.tmpl:js+M+module+InputListener:js+M+module+SuggestionXHR:js+M+module+DropList:js+M+module+Suggestion:js+plupload:js+together+publish:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^ZVNQ^1559526936.js");
}
</script>-->
</head>
<body>
	<div class="topBar">
        <div class="topBarC">
            <div class="logo"><a title="马蜂窝自由行" href="/">马蜂窝自由行</a></div>
            <div class="t_nav">
                <ul id="pnl_nav" data-cs-t="headnav_wo">
                    <li data-cs-p="index">
                        <strong class="t"><a href="/">首页</a></strong>
                    </li>
                    <li data-cs-t="wenda" data-cs-p="wenda">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/wenda/">问答</a></strong>
                    </li>
                    <li data-cs-t="things" data-cs-p="things">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/mall/things.php">马蜂窝周边</a></strong>
                    </li>
                    <li data-cs-p="together">
                        <strong class="t"><a href="/together/">结伴</a></strong>
                    </li>
                    <li data-cs-p="group">
                        <strong class="t"><a href="/group/">小组</a></strong>
                    </li>
                    <li data-cs-p="mall">
                        <strong class="t"><a href="/club/">蜂首俱乐部</a></strong>
                    </li>
                    <li class="drop" data-cs-p="other">
                        <strong class="t"><a href="/app/hun.php">更多<b></b></a></strong>
                        <div class="c">
                            
                            <a href="/focus/" target="_blank">真人兽</a>
                            
                            <a href="/school/" target="_blank">马蜂窝高校</a>
                            <a href="/photo_pk/prev.php" target="_blank">照片PK</a>
                            <a href="/auction/" target="_blank">马蜂窝拍卖行</a>
                            <a href="/mall/virtual_goods.php" target="_blank">道具商店</a>
                            <a href="/radio/" target="_blank">旅行电台</a>
                            <a href="/club/" target="_blank">蜂首聚乐部</a>
                            <a href="/home/vip_show.php" target="_blank">VIP</a>
                            <a href="/game/wager.php" target="_blank">分歧终端机</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="t_search">
                <form method="GET" action="/search/s.php" name="search">
                    <input type="text" class="key" value="" name="q" id="word"/>
                    <input type="submit" value="" class="btn"/>
                </form>
            </div>

            <div class="t_info">
            <div  id="pagelet-block-5772fc41994af56a5183503b8af529c5" class="" data-api="apps:user:pagelet:pageViewHeadInfo" data-params="{&quot;type&quot;:2}" data-async="1" data-controller="/js/pageletcommon/pageHeadUserInfoWWWDark"></div>
            </div>
        </div>
    </div>
	<input type="hidden" id="_j_publish" data-publish="1"/>
	<input type="hidden" id="_j_tid" data-tid=""/>
	<input type="hidden" id="_j_img" />
	<input type="hidden" id="_j_mddid" />
<div class="wrapper mod-publish">
    <div class="crumb"><a href="/together/">结伴</a> &gt; <span>发起结伴</span></div>
    <h3 class="mod-title">发起结伴<span>（一个真诚的请求，才会赢的更多靠谱的旅伴）</span></h3>
    <p class="pub-tips"><a href="/i/3386681.html" title="1、介绍下自己，说说自己旅行经历。有助于他人更全面了解你
		2、简单概述自己行程安排。结交全程or半程旅伴
		3、说说你对Ta的要求。只为不让自己的旅程囧的离谱" target="_blank">如何更高效地结交靠谱的旅伴<i></i></a></p>
    <div class="bd">
        <div class="item item-title">
            <span class="label"><em>*</em>活动标题</span>
            <div class="ui-input inp-title"><input type="text" value="" class="_j_title " placeholder="一句话开始一段靠谱旅程"/></div>
        </div>
        <div class="item item-contact">
            <span class="label"><em>*</em>联系方式</span>
            <div class="ui-input inp-contact" style="width: 240px;">
                <span>手机/</span>
				<input type="text" value="13839561031" class="_j_phone have" style="width: 160px;"/>
			</div>
            <div class="ui-input inp-contact" style="width: 240px">
                <span>QQ/</span>
				<input type="text" class="_j_qq" style="width: 160px;"/>
            </div>
            <div class="ui-input inp-contact inp-last" style="width: 240px;">
                <span>微信/</span>
                <input type="text" class="_j_weixin" style="width: 160px;"/>
            </div>
            <span style="margin-left: 10px; ">(可选填)</span>
        </div>
        <div class="item item-place _j_select_go">
            <span class="label"><em>*</em>目的地</span>
            <div class="add-place clearfix _j_go_mdd_list">
				<input type="text" id="_j_go_mdd" class="_j_go_mdd " placeholder="输入并选择目的地"/>
            </div>
            <ul class="_j_go_mdd_ul result hide" style="height: 150px;"></ul>
        </div>
        <div class="item item-place _j_select_from">
            <span class="label"><em>*</em>出发地</span>
            <div class="ui-input inp-place _j_from_mdd_list">
                <input type="text" data-mddid="" value="" class="_j_from_mdd " id="_j_from_mdd" placeholder="输入并选择出发地"/>
            </div>
            <ul class="_j_from_mdd_ul result hide" style="height: 150px;top: 368px;"></ul>
        </div>
        <div class="item item-date">
            <span class="label"><em>*</em>出发时间</span>
            <div class="ui-input inp-date">
                <input type="text" maxlength="0" class="_j_start_date " value="" placeholder="出发日期"/>
                <i class="icon-date _j_date"></i>
                <input type="text" class="_j_start_time" style="width: 240px;height: 32px;position: relative;left: -270px;top: 0px;opacity: 0" />
            </div>
        </div>
        <div class="item item-days">
            <span class="label"><em>*</em>活动天数</span>
            <div class="ui-input inp-num"><input type="text" value="" class="_j_count_day "/></div>天
        </div>
        <div class="item item-days">
            <span class="label"><em>*</em>限制人数</span>
            <div class="ui-input inp-num"><input type="text" value="" class="_j_hope_num "/></div>人
        </div>
        <div class="item item-notes">
            <span class="label"><em>*</em>结伴描述</span>
            <div class="ui-textarea"><textarea class="_j_description " style="width:856px;height: 244px;" placeholder="尽可能详细将你的意向说清楚，除非你愿意尝试下边的：
				a.如果你想结伴无人问津
				b.如果你想浪费更多时间在逐个沟通相同问题
				c.如果你想让旅途遇到猪队友"></textarea></div>
        </div>
        <div class="item item-image">
            <ul class="clearfix _j_img_list">
                                <li id="_j_img_li">
                    <a class="btn-addimage" id="_j_addpicbtns" ><i></i></a>
                </li>
            </ul>
            <p class="upload-tips">可上传最多5张个人 and 结伴相关图片吸引更多蜂蜂参与</p>
        </div>
        <div class="item item-action">
            <a class="btn-submit _j_submit">发表结伴</a>
        </div>
    </div>
</div>
<div id="footer">
	<div class="ft-content" style="width: 1105px">
		
	</div>
</div>
<div class="mfw-toolbar" id="_j_mfwtoolbar">
    <div class="toolbar-item-top">
		<a role="button" class="btn _j_gotop">
			<i class="icon_top"></i>
            <em>返回顶部</em>
		</a>
	</div>
    <div class="toolbar-item-down">
		<a role="button" class="btn _j_gobottom">
			<i class="icon_down"></i>
            <em>页面底部</em>
		</a>
	</div>
</div>
</body>
</html>
