<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>结伴 阿里北线，人生总要走一趟 - 马蜂窝</title>
<meta name="renderer" content="webkit" />

<script type="text/javascript">
window.Env = {"has_logo":1,"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","W_HTTP":"http:\/\/w.mafengwo.cn","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","PAGELET_HTTP":"http:\/\/pagelet.mafengwo.cn","JS_HOST":"js.mafengwo.net","TONGJI_HOST":"tongji.mafengwo.cn","UID":30557563,"CSTK":"c3b32e1404b7fed2bb9c557785064f34_5ead67b6b356b67e25dae93b9d6bc182","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ","MOBILE_BINDED":true};
</script>

<link href="css/topbar.css" rel="stylesheet" type="text/css"/>


<link href="css/custom.css" rel="stylesheet" type="text/css"/>

<script language="javascript" src="js/inspector.js" type="text/javascript" crossorigin="anonymous"></script>

</head>
<body>
    
    <div class="topBar">
        <div class="topBarC">
            <div class="logo"><a title="马蜂窝自由行" href="/">马蜂窝自由行</a></div>
            <div class="t_nav">
                <ul id="pnl_nav" data-cs-t="headnav_wo">
                    <li data-cs-p="index">
                        <strong class="t"><a href="/">首页</a></strong>
                    </li>
                    <li data-cs-t="wenda" data-cs-p="wenda">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/wenda/">问答</a></strong>
                    </li>
                    <li data-cs-t="things" data-cs-p="things">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/mall/things.php">马蜂窝周边</a></strong>
                    </li>
                    <li data-cs-p="together">
                        <strong class="t"><a href="/together/">结伴</a></strong>
                    </li>
                    <li data-cs-p="group">
                        <strong class="t"><a href="/group/">小组</a></strong>
                    </li>
                    <li data-cs-p="mall">
                        <strong class="t"><a href="/club/">蜂首俱乐部</a></strong>
                    </li>
                    <li class="drop" data-cs-p="other">
                        <strong class="t"><a href="/app/hun.php">更多<b></b></a></strong>
                        <div class="c">
                            
                            <a href="/focus/" target="_blank">真人兽</a>
                            
                            <a href="/school/" target="_blank">马蜂窝高校</a>
                            <a href="/photo_pk/prev.php" target="_blank">照片PK</a>
                            <a href="/auction/" target="_blank">马蜂窝拍卖行</a>
                            <a href="/mall/virtual_goods.php" target="_blank">道具商店</a>
                            <a href="/radio/" target="_blank">旅行电台</a>
                            <a href="/club/" target="_blank">蜂首聚乐部</a>
                            <a href="/home/vip_show.php" target="_blank">VIP</a>
                            <a href="/game/wager.php" target="_blank">分歧终端机</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="t_search">
                <form method="GET" action="/search/s.php" name="search">
                    <input type="text" class="key" value="" name="q" id="word">
                    <input type="submit" value="" class="btn">
                </form>
            </div>

            <div class="t_info">
            <div data-pagelet id="pagelet-block-e4575da796fd35e92bb028c04b35fc6e" class="" data-api="apps:user:pagelet:pageViewHeadInfo" data-params="{&quot;type&quot;:2}" data-async="1" data-controller="/js/pageletcommon/pageHeadUserInfoWWWDark"></div>
            </div>
        </div>
    </div>


<input type="hidden" class="_j_total" data-total="6">
<input type="hidden" class="_j_tid" data-tid="2338991">
<div class="container">
<div class="detail-hd">
    <div class="cover" style="background-image:url(http://p2-q.mafengwo.net/s7/M00/9F/5D/wKgB6lSotSGASc1mAASoXxTTPvM809.png?imageMogr2%2Fthumbnail%2F%211280x280r%2Fgravity%2FCenter%2Fcrop%2F%211280x280%2Fquality%2F100)">
        <div class="bg"></div>
        <div class="shadow"></div>
    </div>
    <div class="wrapper">
        <div class="mt-nav">
            <a href="/together/">结伴首页</a>
            <a href="/u/30557563/together.html">我的结伴</a>
                            <a href="/u/70081897/together.html">TA的结伴</a>
                    </div>
        <div class="info">
            <div class="middle">
                <h1>阿里北线，人生总要走一趟</h1>
                <div class="total">
                    <span>790</span>人浏览
                    <em class="dot"></em>
                    <span>10</span>人报名
                    <em class="dot"></em>
                    <span>11</span>人关注
                </div>
            </div>
        </div>
    </div>
            <div class="event-btns">
                                                <div class="cell-join">
                                                    <a class="btn-join _j_together_add"><i></i><span>我要报名</span></a>
                                            </div>
                    <div class="cell-collect">
                                                    <a class="btn-collect _j_together_care"><i></i><span class="_j_together_text">关注此结伴</span></a>
                                            </div>
                                    </div>
    </div>
<div class="row-bg2">
    <div class="summary">
        <ul class="clearfix">
            <li><i class="icon-startTime"></i><span>出发时间：2019-09-24</span></li>
            <li><i class="icon-days"></i><span>大约：13天</span></li>
            <li><i class="icon-destination"></i><span>目的地：阿里|西藏</span></li>
            <li><i class="icon-departure"></i><span>出发地：深圳</span></li>
            <li><i class="icon-people"></i><span>希望人数：8人</span></li>
        </ul>
        <div class="contact _j_contact">
            联系方式
    <span class="invisible">
        ------报名后可见-------
    </span>

        </div>
    </div>
    <div class="wrapper clearfix">
        <div class="detail-content">
    <div class="sponsor clearfix">
        <a class="avatar" href="/u/70081897.html" target="_blank"><img src="http://p4-q.mafengwo.net/s6/M00/1C/BB/wKgB4lKYkGWALAqPAAERggmcmZY15.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" height="90" width="90"></a>
        <a class="name" href="/u/70081897.html" target="_blank">沁心茶</a>
        <a class="level" href="/u/70081897.html">LV.10</a>
        <div class="opt">
                                                                                    <a class="btn-follow" data-japp="following" data-style="together" data-uid="70081897">
                        <span class="follow"><i></i>加关注</span>
                                                    <script type="text/x-jquery-tmpl" id="_j_together_sendmsg">
                
                <div class="pop-privateLetter">
                    <span class="p-close btn_eject_close _j_close">×</span>
                    <p>给 <span>${to_uname}</span> 发送消息</p>
                    <textarea class="_j_msg_area"></textarea>
                    <div><a class="btn _j_send_button" role="button">发送</a></div>
                </div>
                
                </script>
                <a class="btn-privateLetter" data-japp="send_message" data-to_uid="70081897" data-to_uname="沁心茶" data-tpl="_j_together_sendmsg">发私信</a>
                    </div>
    </div>
    <div class="desc _j_description">
        <div class="title">阿里北线，人生总要走一趟</div>
                    计划约伴2辆车人员，共8人。还需5人或1人。寻求心大，无所谓，真诚好队友。（添上暂定路线，景色图为网络图）想结伴的请加微信哦……也可以1男或者1女（公主病和少爷病的免加）……加我时麻烦备注：西藏结伴
                                            <br><br><img border="0" src="http://n2-q.mafengwo.net/s13/M00/BD/BA/wKgEaVyyt7aAZwE0AABgkeRb2ZY644.png?imageView2%2F2%2Fw%2F600%2Fq%2F100">
                        </div>
        <div class="mod-joinform">
        <h3 class="mod-title">我要报名</h3>
        <div class="bd">
            <div class="item">
                <span class="label">联系电话</span>
                <div class="ui-input inp-tel"><input class="_j_add_phone" type="text" placeholder="请输入您的联系方式"></div>
                <span class="tips"><span>*必填</span>：只对活动发起人和本人公开</span>
            </div>
            <div class="item">
                <span class="label">性别</span>
                <div class="gender">
                    <span class="radio on _j_add_gender" data-gender="1"><span class="icon-radio"><i></i></span>男</span>
                    <span class="radio _j_add_gender" data-gender="0"><span class="icon-radio"><i></i></span>女</span>
                </div>
            </div>
            <div class="item">
                <span class="label">同行人数</span>
                <div class="num">
                    <div class="ui-input inp-num"><input type="text" class="_j_together_men"></div>
                    男<span class="gray">(/人)</span>
                </div>
                <div class="num">
                    <div class="ui-input inp-num"><input type="text" class="_j_together_women"></div>
                    女<span class="gray">(/人)</span>
                </div>
            </div>
            <div class="item">
                <span class="label">同行名单</span>
                <div class="ui-input inp-list"><input type="text" class="_j_together_names"></div>
            </div>
            <div class="item">
                <span class="label">备注</span>
                <div class="ui-textarea"><textarea class="_j_together_remark"></textarea></div>
            </div>
            <div class="item">
                                                            <a class="btn _j_submit">报名</a>
                                                </div>
        </div>
    </div>
    </div>

        <div class="detail-side">
    <div class="mod-joinlist">
        <div class="hd">
            <span><em>10</em> 人报名</span>
            <span>MM 7 <i class="male"></i></span>
            <span>GG 10 <i class="female"></i></span>
            <i class="icon-arrow"></i>
        </div>
        <div class="bd">
            <ul class="clearfix">
                                    <li >
                        <a class="avatar" href="/u/57774414/together.html" target="_blank"><img src="http://n1-q.mafengwo.net/s13/M00/43/29/wKgEaVyxiMeAUXTfAAVKUlP0y1o05.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 68px;height: 68px;"><i class="female"></i></a>
                        <a class="name" href="/u/57774414/together.html" target="_blank">Smile＇＇时光荏苒</a>
                    </li>
                                    <li >
                        <a class="avatar" href="/u/60568986/together.html" target="_blank"><img src="http://b1-q.mafengwo.net/s13/M00/82/ED/wKgEaVy63qSAEG6XAAAVH-OZVXI89.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 68px;height: 68px;"><i class="male"></i></a>
                        <a class="name" href="/u/60568986/together.html" target="_blank">百合公子</a>
                    </li>
                                    <li >
                        <a class="avatar" href="/u/93221149/together.html" target="_blank"><img src="http://n4-q.mafengwo.net/s13/M00/85/B9/wKgEaVzAA5KAPH_2ABFKmiDQjJs04.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 68px;height: 68px;"><i class="male"></i></a>
                        <a class="name" href="/u/93221149/together.html" target="_blank">茜茜娘</a>
                    </li>
                                    <li >
                        <a class="avatar" href="/u/19803887/together.html" target="_blank"><img src="http://n1-q.mafengwo.net/s11/M00/E0/96/wKgBEFp6vwiAAWQNAAHFVxmMW3A19.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 68px;height: 68px;"><i class="female"></i></a>
                        <a class="name" href="/u/19803887/together.html" target="_blank">十月的包子</a>
                    </li>
                                    <li >
                        <a class="avatar" href="/u/83314534/together.html" target="_blank"><img src="http://p3-q.mafengwo.net/s12/M00/35/CD/wKgED1uqIt-AG3w5AAAbM62rsh0384.png?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 68px;height: 68px;"><i class="male"></i></a>
                        <a class="name" href="/u/83314534/together.html" target="_blank">Apple</a>
                    </li>
                                    <li >
                        <a class="avatar" href="/u/64280538/together.html" target="_blank"><img src="http://b4-q.mafengwo.net/s12/M00/35/52/wKgED1uqInuAITIBAAAiWI3ZI5o530.png?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 68px;height: 68px;"><i class="female"></i></a>
                        <a class="name" href="/u/64280538/together.html" target="_blank">Luo</a>
                    </li>
                                    <li class="_j_hide_add_user" style="display: none">
                        <a class="avatar" href="/u/83990922/together.html" target="_blank"><img src="http://n3-q.mafengwo.net/s12/M00/A5/0C/wKgED1w4AoOAKr6hAAZZ2ms5_T826.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 68px;height: 68px;"><i class="female"></i></a>
                        <a class="name" href="/u/83990922/together.html" target="_blank">阿拉斯加</a>
                    </li>
                                    <li class="_j_hide_add_user" style="display: none">
                        <a class="avatar" href="/u/65690886/together.html" target="_blank"><img src="http://b2-q.mafengwo.net/s9/M00/C2/A4/wKgBs1abp1SAYj6zAAB_rcaJl7A74.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 68px;height: 68px;"><i class="female"></i></a>
                        <a class="name" href="/u/65690886/together.html" target="_blank">宇</a>
                    </li>
                                    <li class="_j_hide_add_user" style="display: none">
                        <a class="avatar" href="/u/40056719/together.html" target="_blank"><img src="http://b2-q.mafengwo.net/s12/M00/35/B7/wKgED1uqIs-AMYTwAAAX-VIKIo0071.png?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 68px;height: 68px;"><i class="female"></i></a>
                        <a class="name" href="/u/40056719/together.html" target="_blank">Z,hui           .💦</a>
                    </li>
                                    <li class="_j_hide_add_user" style="display: none">
                        <a class="avatar" href="/u/19883550/together.html" target="_blank"><img src="http://p2-q.mafengwo.net/s10/M00/B2/43/wKgBZ1mfdgmAX2eWAACLjCP5OsQ05.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 68px;height: 68px;"><i class="female"></i></a>
                        <a class="name" href="/u/19883550/together.html" target="_blank">/ty云中漫步</a>
                    </li>
                            </ul>
        </div>
                    <div class="ft toggle _j_show_more_add_btn">
                <a><i class="icon-arrow"></i></a>
            </div>
            </div>
    <div class="mod-attentionUser">
        <div class="mod-title">关注此结伴的蜂蜂</div>
        <div class="bd">
            <ul class="clearfix">
                <li><a href="/u/78720727/together.html"><img src="http://n3-q.mafengwo.net/s13/M00/6C/9C/wKgEaVy97U2AKHMEAAATs_2tQjI76.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" height="32" width="32"></a></li>
                <li><a href="/u/65522844/together.html"><img src="http://n2-q.mafengwo.net/s4/M00/66/CE/wKgIDlt-IOqASmPUAAgB1DjTLIs38.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" height="32" width="32"></a></li>
                <li><a href="/u/92235721/together.html"><img src="http://b2-q.mafengwo.net/s12/M00/35/B7/wKgED1uqIs-AMYTwAAAX-VIKIo0071.png?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" height="32" width="32"></a></li>
                <li><a href="/u/43483320/together.html"><img src="http://n2-q.mafengwo.net/s12/M00/35/2C/wKgED1uqImOAAxCCAAAeJTVWYJU680.png?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" height="32" width="32"></a></li>
                <li><a href="/u/57997345/together.html"><img src="http://n3-q.mafengwo.net/s12/M00/31/7F/wKgED1wLXl2AcqqZAAfDbsY9RCA90.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" height="32" width="32"></a></li>
                <li><a href="/u/84877280/together.html"><img src="http://b3-q.mafengwo.net/s6/M00/20/77/wKgB4lMw172AGSDwAAAVWcWQu7Y86.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" height="32" width="32"></a></li>
                <li><a href="/u/67870252/together.html"><img src="http://p1-q.mafengwo.net/s13/M00/1C/31/wKgEaVziX5-AaRUuAABjQbXjMzE36.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" height="32" width="32"></a></li>
                <li><a href="/u/89047368/together.html"><img src="http://n3-q.mafengwo.net/s8/M00/C4/D4/wKgBpVUjQcSAYmLwAADO9k3HvOU59.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" height="32" width="32"></a></li>
                <li><a href="/u/82348468/together.html"><img src="http://b4-q.mafengwo.net/s12/M00/35/52/wKgED1uqInuAITIBAAAiWI3ZI5o530.png?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" height="32" width="32"></a></li>
                <li><a href="/u/90119530/together.html"><img src="http://n2-q.mafengwo.net/s12/M00/35/2C/wKgED1uqImOAAxCCAAAeJTVWYJU680.png?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" height="32" width="32"></a></li>
                <li><a href="/u/67473014/together.html"><img src="http://p3-q.mafengwo.net/s12/M00/35/CD/wKgED1uqIt-AG3w5AAAbM62rsh0384.png?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" height="32" width="32"></a></li>
            </ul>
        </div>
    </div>
            <div class="mod-recenthot">
            <h3 class="mod-title">近期热门结伴</h3>
            <div class="bd together-list _j_slidecnt">
                <ul>
                                            <li class="item">
                            <a href="/together/detail/2350263.html">
                                <div class="image">
                                    <img src="http://p2-q.mafengwo.net/s7/M00/FC/D2/wKgB6lSiQbmAT8wLAAg4KT3uKcg611.png?imageMogr2%2Fthumbnail%2F%21200x130r%2Fgravity%2FCenter%2Fcrop%2F%21200x130%2Fquality%2F100" style="width: 260px;height: 165px;">
                                    <div class="after"><b>34</b>天后</div>
                                </div>
                                <div class="desc">7.16成都出发进藏，目前三台车已满员，基本都是90后的美女小...</div>
                                <div class="attention"><i class="icon-arrow _j_next"></i>已有<b>23</b>人关注</div>
                            </a>
                        </li>
                                            <li class="item">
                            <a href="/together/detail/2331767.html">
                                <div class="image">
                                    <img src="http://n2-q.mafengwo.net/s7/M00/9A/A6/wKgB6lSor-OAU4smAAaUrOFQe9A574.png?imageMogr2%2Fthumbnail%2F%21200x130r%2Fgravity%2FCenter%2Fcrop%2F%21200x130%2Fquality%2F100" style="width: 260px;height: 165px;">
                                    <div class="after"><b>93</b>天后</div>
                                </div>
                                <div class="desc">9月阿里大环线 无阿里，不西藏！
错开国庆节高峰来一次天上阿...</div>
                                <div class="attention"><i class="icon-arrow _j_next"></i>已有<b>28</b>人关注</div>
                            </a>
                        </li>
                                            <li class="item">
                            <a href="/together/detail/2293899.html">
                                <div class="image">
                                    <img src="http://p2-q.mafengwo.net/s7/M00/9F/5D/wKgB6lSotSGASc1mAASoXxTTPvM809.png?imageMogr2%2Fthumbnail%2F%21200x130r%2Fgravity%2FCenter%2Fcrop%2F%21200x130%2Fquality%2F100" style="width: 260px;height: 165px;">
                                    <div class="after"><b>101</b>天后</div>
                                </div>
                                <div class="desc">2019年9月21日至10月7日西藏阿里南北大环线结伴。
本人15年、...</div>
                                <div class="attention"><i class="icon-arrow _j_next"></i>已有<b>25</b>人关注</div>
                            </a>
                        </li>
                                            <li class="item">
                            <a href="/together/detail/2338991.html">
                                <div class="image">
                                    <img src="http://p2-q.mafengwo.net/s7/M00/9F/5D/wKgB6lSotSGASc1mAASoXxTTPvM809.png?imageMogr2%2Fthumbnail%2F%21200x130r%2Fgravity%2FCenter%2Fcrop%2F%21200x130%2Fquality%2F100" style="width: 260px;height: 165px;">
                                    <div class="after"><b>104</b>天后</div>
                                </div>
                                <div class="desc">计划约伴2辆车人员，共8人。还需5人或1人。寻求心大，无所谓...</div>
                                <div class="attention"><i class="icon-arrow _j_next"></i>已有<b>21</b>人关注</div>
                            </a>
                        </li>
                                    </ul>
            </div>
            <div class="ft _j_slide_nav">
                <ul class="slide-nav _j_indexercnt">
                                                                                        <li class="on" data-index="2350264"></li>
                                                                    <li class="on" data-index="2331768"></li>
                                                                    <li class="on" data-index="2293900"></li>
                                                                    <li class="on" data-index="2338992"></li>
                                    </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="wrapper clearfix">
        <div class="mod-comment">
            <h3 class="mod-title">留言</h3>
            <div class="comment-form clearfix">
                <textarea class="_j_comment_content"></textarea>
                <input class="btn _j_submit_comment" type="button" value="留言">
            </div>
            <ul class="comment-list _j_comment_list">
                    <div class="vc_comment">
        <div class="avatar"><a href="/u/68017509.html" target="_blank"><img src="http://n1-q.mafengwo.net/s10/M00/D4/92/wKgBZ1nHtVSAfLNIAABZeE8b9kk46.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 48px;height: 48px;"></a></div>
        <div class="comm_con">
            <dl>
                <dt class="clearfix">
                <div class="comm_info">
                    <a target="_blank" class="comm_name" href="/u/68017509.html">小悠</a>
                    <a target="_blank" class="comm_grade" href="/u/68017509.html">LV.7</a>
                    <br>
                    <span class="comm_time">2019-05-25 10:35:14</span>
                </div>
                <div class="comm_reply">
                    <a class="_j_replay" data-cid="29158820" data-name="小悠" data-uid="68017509">回复</a>
                    <a class="_j_cited" data-cid="29158820" data-name="小悠">引用</a>
                                            <a data-japp="report" reply_id="29158820" data-busi-id="cid:29158820" data-app="together.comment">举报</a>
                                    </div>
                </dt>
                <dd>
                    
                    
                    <div class="comm_word">
                        <p>到了狮泉河,建议还可以去普兰县，</p>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="vc_comment">
        <div class="avatar"><a href="/u/56751387.html" target="_blank"><img src="http://b4-q.mafengwo.net/s13/M00/CC/84/wKgEaVzNl12AZQLAAATQTsJX3LE51.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 48px;height: 48px;"></a></div>
        <div class="comm_con">
            <dl>
                <dt class="clearfix">
                <div class="comm_info">
                    <a target="_blank" class="comm_name" href="/u/56751387.html">遇见旅行(成都)</a>
                    <a target="_blank" class="comm_grade" href="/u/56751387.html">LV.2</a>
                    
                        
                            
                                
                            
                                
                            
                        
                    
                    <br>
                    <span class="comm_time">2019-05-21 19:30:38</span>
                </div>
                <div class="comm_reply">
                    <a class="_j_replay" data-cid="29153535" data-name="遇见旅行" data-uid="56751387">回复</a>
                    <a class="_j_cited" data-cid="29153535" data-name="遇见旅行">引用</a>
                                            <a data-japp="report" reply_id="29153535" data-busi-id="cid:29153535" data-app="together.comment">举报</a>
                                    </div>
                </dt>
                <dd>
                    
                    
                    <div class="comm_word">
                        <p>川藏线稻城亚丁色达/西藏-环线，约伴自由行 有车队，有行程，不用攻略，老司机带队更靠谱！ 边走边玩，专业司机带队，安全有保障！ 咨询领队微信：584751761</p>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="vc_comment">
        <div class="avatar"><a href="/u/79437183.html" target="_blank"><img src="http://b4-q.mafengwo.net/s13/M00/BA/E9/wKgEaVzVHSWAEdzzAAJL_4LWc-Q640.png?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 48px;height: 48px;"></a></div>
        <div class="comm_con">
            <dl>
                <dt class="clearfix">
                <div class="comm_info">
                    <a target="_blank" class="comm_name" href="/u/79437183.html">奇兵攻略(成都)</a>
                    <a target="_blank" class="comm_grade" href="/u/79437183.html">LV.18</a>
                    
                        
                            
                                
                            
                                
                            
                        
                    
                    <br>
                    <span class="comm_time">2019-05-21 17:57:41</span>
                </div>
                <div class="comm_reply">
                    <a class="_j_replay" data-cid="29153409" data-name="奇兵攻略" data-uid="79437183">回复</a>
                    <a class="_j_cited" data-cid="29153409" data-name="奇兵攻略">引用</a>
                                            <a data-japp="report" reply_id="29153409" data-busi-id="cid:29153409" data-app="together.comment">举报</a>
                                    </div>
                </dt>
                <dd>
                    
                    
                    <div class="comm_word">
                        <p>川藏线11天，越野自驾游12日、15日、19日、22日、26日、29日还有空位，均可报名参加，有时间的小伙伴加微信czqb517318</p>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="vc_comment">
        <div class="avatar"><a href="/u/55910578.html" target="_blank"><img src="http://b1-q.mafengwo.net/s13/M00/B4/E0/wKgEaVx4p8-AOQmPAAhObMW4FxI26.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 48px;height: 48px;"></a></div>
        <div class="comm_con">
            <dl>
                <dt class="clearfix">
                <div class="comm_info">
                    <a target="_blank" class="comm_name" href="/u/55910578.html">藏野天下(拉萨)</a>
                    <a target="_blank" class="comm_grade" href="/u/55910578.html">LV.7</a>
                    
                        
                            
                                
                            
                                
                            
                        
                    
                    <br>
                    <span class="comm_time">2019-05-08 11:39:36</span>
                </div>
                <div class="comm_reply">
                    <a class="_j_replay" data-cid="29139568" data-name="藏野天下" data-uid="55910578">回复</a>
                    <a class="_j_cited" data-cid="29139568" data-name="藏野天下">引用</a>
                                            <a data-japp="report" reply_id="29139568" data-busi-id="cid:29139568" data-app="together.comment">举报</a>
                                    </div>
                </dt>
                <dd>
                    
                    
                    <div class="comm_word">
                        <p>专业发阿里线路捡人拼车
 5.10号阿里大北线13天+岗仁波齐转山2天
 5.16号阿里大北线13天+岗仁波齐转山2天
 6.12号阿里大北线13天+岗仁波齐转山2天
 9.17号林芝+阿里大北线 三姑娘捡一人 捡人中，包办边防证 18076905846</p>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="vc_comment">
        <div class="avatar"><a href="/u/56751387.html" target="_blank"><img src="http://b4-q.mafengwo.net/s13/M00/CC/84/wKgEaVzNl12AZQLAAATQTsJX3LE51.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 48px;height: 48px;"></a></div>
        <div class="comm_con">
            <dl>
                <dt class="clearfix">
                <div class="comm_info">
                    <a target="_blank" class="comm_name" href="/u/56751387.html">遇见旅行(成都)</a>
                    <a target="_blank" class="comm_grade" href="/u/56751387.html">LV.2</a>
                    <br>
                    <span class="comm_time">2019-05-05 11:12:13</span>
                </div>
                <div class="comm_reply">
                    <a class="_j_replay" data-cid="29137128" data-name="遇见旅行" data-uid="56751387">回复</a>
                    <a class="_j_cited" data-cid="29137128" data-name="遇见旅行">引用</a>
                                            <a data-japp="report" reply_id="29137128" data-busi-id="cid:29137128" data-app="together.comment">举报</a>
                                    </div>
                </dt>
                <dd>
                    
                    
                    <div class="comm_word">
                        <p>川藏线拼车每周六出发，
包车可自定线路随时出行,
专业车队带你游玩，安全，放心，省心。
咨询领队微信：584751761，
微信搜索公众号：西部自由人户外</p>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="vc_comment">
        <div class="avatar"><a href="/u/57774414.html" target="_blank"><img src="http://n1-q.mafengwo.net/s13/M00/43/29/wKgEaVyxiMeAUXTfAAVKUlP0y1o05.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" style="width: 48px;height: 48px;"></a></div>
        <div class="comm_con">
            <dl>
                <dt class="clearfix">
                <div class="comm_info">
                    <a target="_blank" class="comm_name" href="/u/57774414.html">Smile＇＇时光荏苒(通化)</a>
                    <a target="_blank" class="comm_grade" href="/u/57774414.html">LV.8</a>
                    
                        
                            
                                
                            
                                
                            
                        
                    
                    <br>
                    <span class="comm_time">2019-04-17 18:09:37</span>
                </div>
                <div class="comm_reply">
                    <a class="_j_replay" data-cid="29121796" data-name="Smile＇＇时光荏苒" data-uid="57774414">回复</a>
                    <a class="_j_cited" data-cid="29121796" data-name="Smile＇＇时光荏苒">引用</a>
                                            <a data-japp="report" reply_id="29121796" data-busi-id="cid:29121796" data-app="together.comment">举报</a>
                                    </div>
                </dt>
                <dd>
                    
                    
                    <div class="comm_word">
                        <p>你好😊越野车自驾捡人信息💋
4.23号，阿里南线捡人
5.1号，阿里大环线捡人
5.15号，阿里北线+转山+新疆喀什结束捡人
6.15号阿里大北线捡人
😋😋😋😋😋😋😋😋😋😋😋
川藏线，林芝环线，阿里南北线等各大路线，都可以全网最靠谱价安排！
马蜂窝金牌商家，提前预订你的行程，我们负责拼车，解决你一个人出行的烦恼。拼车自由行，没有中间商赚差价🐱🐱🐱🐱🐱🐱微546948458</p>
                    </div>
                </dd>
            </dl>
        </div>
    </div>

            </ul>
            <div class="post_pagin" id="smallpager"></div>
        </div>
    </div>
</div>
</div>

    <script id="pagination_tmpl" type="text/x-jquery-tmpl">
    {{if pageTotal > 1}}
    <div class="m-pagination">
        <span class="count">共${pageTotal}页/${total}条</span>
        {{if currPage > 1}}
             <a class="pg-next _j_pageitem" data-page="${currPage - 1}">&nbsp;&lt;&lt;Prev&nbsp;</a>
        {{/if}}
        {{each(i, index) indexers}}
        {{if index == currPage}}
            <a class="pi pg-current">${index}</a>
        {{else}}
            <a class="pi _j_pageitem" data-page="${index}">${index}</a>
        {{/if}}
        {{/each}}
        {{if currPage < pageTotal}}
            <a class="pg-next _j_pageitem" data-page="${currPage + 1}">&nbsp;Next&nbsp;&gt;&gt;</a>
        {{/if}}
    </div>
    {{/if}}
    </script>

<link href="css/footer.css" rel="stylesheet" type="text/css"/>

<div id="footer">
	<div class="ft-content" style="width: 1105px">
		
	</div>
</div>


<link href="css/toolbar.css" rel="stylesheet" type="text/css"/>

<div class="mfw-toolbar" id="_j_mfwtoolbar">
    <div class="toolbar-item-top">
		<a role="button" class="btn _j_gotop">
			<i class="icon_top"></i>
            <em>返回顶部</em>
		</a>
	</div>
	
    <div class="toolbar-item-down">
		<a role="button" class="btn _j_gobottom">
			<i class="icon_down"></i>
            <em>页面底部</em>
		</a>
	</div>
</div>


<script language="javascript" type="text/javascript">
if (typeof M !== "undefined" && typeof M.loadResource === "function") {
M.loadResource("http://js.mafengwo.net/js/cv/js+pageletcommon+pageHeadUserInfoWWWDark:js+M+module+Slider:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+M+module+dialog+confirm:js+jquery.tmpl:js+M+module+Pagination:js+M+module+FrequencyVerifyControl:js+M+module+FrequencyAppVerify:js+together+detail:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^ZlJU^1559526936.js");
}
</script>

</body>
</html>
