<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<base href="http://localhost:8081/"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>lxy的结伴 - 马蜂窝</title>
<meta name="keywords" content="结伴" />
<meta name="description" content="结伴" />
<meta name="renderer" content="webkit" />
<script type="text/javascript">
window.Env = {"target_uid":75628957,"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","W_HTTP":"http:\/\/w.mafengwo.cn","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","PAGELET_HTTP":"http:\/\/pagelet.mafengwo.cn","JS_HOST":"js.mafengwo.net","TONGJI_HOST":"tongji.mafengwo.cn","UID":75628957,"CSTK":"30efb554af694d85040ba5649c919b43_8fc39d71b253055af88f66f6de3e567e","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ","MOBILE_BINDED":true};
</script>
<link href="front/css/topbar_v2^alw^1542357401.css" rel="stylesheet" type="text/css"/>
<link href="front/css/jquery-ui-1.8.18.custom^a1c^1545682406.css" rel="stylesheet" type="text/css"/>
<link href="front/css/mfw-footer.css" rel="stylesheet" type="text/css"/>
<link href="front/css/mfw-toolbar.css" rel="stylesheet" type="text/css"/>

<script language="javascript" src="front/js/inspector^alw^1556174996.js" type="text/javascript" crossorigin="anonymous"></script>
	<style>
		    .invisible {opacity:0.01; filter: alpha(opacity=1);}
		    .invisible .maps-container {opacity:0.01; filter: alpha(opacity=1);}
	</style>
</head>
<body>
<div class="topBar">
    <div class="topBarC">
        <div class="logo"><a title="马蜂窝自由行" href="/">马蜂窝自由行</a></div>
        <div class="t_nav">
            <ul id="pnl_nav" data-cs-t="headnav_wo">
                <li data-cs-p="index">
                    <strong class="t"><a href="/">首页</a></strong>
                </li>
                <li data-cs-t="wenda" data-cs-p="wenda">
                    <strong class="t"><a data-cs-p="from_wo_nav" href="/wenda/">问答</a></strong>
                </li>
                <li data-cs-t="things" data-cs-p="things">
                    <strong class="t"><a data-cs-p="from_wo_nav" href="/mall/things.php">马蜂窝周边</a></strong>
                </li>
                <li data-cs-p="together">
                    <strong class="t"><a href="/together/">结伴</a></strong>
                </li>
                <li data-cs-p="group">
                    <strong class="t"><a href="/group/">小组</a></strong>
                </li>
                <li data-cs-p="mall">
                    <strong class="t"><a href="/club/">蜂首俱乐部</a></strong>
                </li>
                <li class="drop" data-cs-p="other">
                    <strong class="t"><a href="/app/hun.php">更多<b></b></a></strong>
                    <div class="c">
                        <a href="/focus/" target="_blank">真人兽</a>
                        <a href="/school/" target="_blank">马蜂窝高校</a>
                        <a href="/photo_pk/prev.php" target="_blank">照片PK</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="t_search">
            <form method="GET" action="/search/s.php" name="search">
                <input type="text" class="key" value="" name="q" id="word"/>
                <input type="submit" value="" class="btn"/>
            </form>
        </div>

            <div class="t_info">
            <div  id="pagelet-block-c2cd82827dae2e944b4c0874aa1023a0" class="" data-api="apps:user:pagelet:pageViewHeadInfo" data-params="{&quot;type&quot;:2}" data-async="1" data-controller="/js/pageletcommon/pageHeadUserInfoWWWDark"></div>
            </div>
        </div>
    </div>

<div class="container">
	<div class="banner">	    
    	<div class="banner_img banner_together" id="_j_banner">
        </div>
	    <div class="tags_bar second_tags_bar">
	    	<div class="center clearfix">
                <div class="MAvatar clearfix">
            		<div class="MAvaImg flt1">
                		<img width="120" height="120" alt="" src="img/wKgBs1eRuNuAWZy0AAJgjy43fbg60.jpeg"/>
                    </div>
		            <div class="MAvaEasyWord flt1">
		                <span class="MAvaName">lxy(郑州)</span>
		                <span class="MAvaLevel">Lv.6</span>
		            </div>
        		</div>
	            <ul class="flt2">
		            <li><a class="tags_link" href="/u/75628957.html" title="我的窝">我的窝</a></li>
		            <li><a class="tags_link" href="/u/75628957/note.html" title="我的游记">我的游记</a></li>
		            <li><a class="tags_link" href="/wenda/u/75628957/answer.html" title="我的问答">我的问答</a></li>
		            <li id="_j_pathnav"><a class="tags_link" href="/path/75628957.html" title="我的足迹">我的足迹</a></li>
	                <li><a class="tags_link" href="/u/75628957/review.html" title="我的点评">我的点评</a></li>
	                <li class="on"><a class="tags_link" href="/u/75628957/together.html" title="我的结伴">我的结伴</a></li>
	                <li class="more mygroup_tips">
	                	<span class="tags_link" role="button" title="更多" style="cursor:default">更多<i class="MDownMore"></i></span>
	                	<div class="tags_more_list">
		                    <ul>
		                        <li data-cs-t="go_to_activity"><a href="/indexactivity/index.php" title="我的活动" data-cs-p="activity"><i class="ico_activity"></i><span>我的活动</span></a></li>
		                        <li><a href="/home/g/my.php" title="我的小组"><i class="ico_group"></i><span>我的小组</span></a></li>
		                        <li><a href="/plan/fav.php" title="我的收藏"><i class="ico_collect"></i><span>我的收藏</span></a></li>
		                        <li><a href="/order_center/" title="我的订单"><i class="ico_order"></i><span>我的订单</span></a></li>
		                        <li><a href="/sales/coupon.php" title="我的优惠券"><i class="ico_ticket"></i><span>我的优惠券</span></a></li>
		                        <li><a href="/mall/my_exchange.php" title="我的兑换"><i class="ico_exchange"></i><span>我的兑换</span></a></li>
		                        <!--<li><a href="/rent/order/boss?flag=-1" title="我的当地人"><i class="ico_rent"></i><span>我的当地人</span></a></li>-->
		                        <li><a href="/flight/passengers.php" title="常用信息"><i class="ico_information"></i><span>常用信息</span></a></li>
		                    </ul>
	                	</div>
	            	</li>
	            </ul>
    		</div>
		</div>
	</div>

    <input type="hidden" class="_j_data" data-type="" data-total="0"/>
    <div class="row row-bg">
        <div class="wrapper mod-mylist">
            <div class="hd">
                <span><a class="_j_care_add on" data-type="0">我关注的 <em></em></a></span>
                <span><a class="_j_care_add" data-type="1">我参加的 <em></em></a></span>
            </div>
            <div class="bd">
                <table>
                    <thead>
	                    <tr>
	                        <td class="event">计划名称</td>
	                        <td class="departure">出发地</td>
	                        <td class="destination">目的地</td>
	                        <td class="date">出发时间</td>
	                        <td class="date">发布时间</td>
	                    </tr>
                    </thead>
                    <tbody class="_j_tbody">
                    
                    </tbody>
                    <tr class=" _j_hide">
                        <td class="td-empty" colspan="5">
                            <div class="icon-empty"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="post_pagin" id="smallpager"></div>
        </div>
        
    </div>
</div>
<div id="footer">
	<div class="ft-content" style="width: 1105px">
		<div class="ft-copyright">
    <a href="http://www.mafengwo.cn"><i class="ft-mfw-logo"></i></a>
    <p>© 2019 Mafengwo.cn <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备11015476号</a> <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502013401" target="_blank">
    <img src="http://images.mafengwo.net/images/footer/police_record.png" width="12" style="margin:0 2px 4px 0;"/>京公网安备11010502013401号</a> <a href="http://images.mafengwo.net/images/about/icp2.jpg" target="_blank" rel="nofollow">京ICP证110318号</a><span class="m_l_10">违法和不良信息举报电话: 010-59222790 举报邮箱: mfwjubao@mafengwo.com</span></p>
    <p>网络出版服务许可证：(总)网出证(京)字第161号<span class="m_l_10">增值电信业务经营许可证：京B2-20180228</span> <a href="https://n1-q.mafengwo.net/s12/M00/A5/45/wKgED1xJi3uAA7KLAAf_CkKLHRQ87.jpeg" target="_blank" rel="nofollow" class="m_l_10">营业执照</a><a href="/sales/uhelp/doc" target="_blank" rel="nofollow" class="m_l_10">帮助中心</a><span class="m_l_10">马蜂窝客服：国内</span><span class="highlight">4006-345-678</span><span class="m_l_10">海外</span> <span class="highlight">+86-10-5922-2799</span></p>
</div>
<div class="ft-safety">
    <a class="s-a" target="_blank" href="#" id="___szfw_logo___"></a>
    <a class="s-b" href="#" target="_blank" rel="nofollow"></a>
    <a class="s-c" href="#" target="_blank" rel="nofollow"></a>
    <a class="s-d" href="#" target="_blank" rel="nofollow"></a>
</div>

	</div>
</div>

<div class="mfw-toolbar" id="_j_mfwtoolbar">
    <div class="toolbar-item-top">
		<a role="button" class="btn _j_gotop">
			<i class="icon_top"></i>
            <em>返回顶部</em>
		</a>
	</div>
	<div class="toolbar-item-feedback">
		<a role="button" data-japp="feedback" class="btn">
			<i class="icon_feedback"></i>
            <em>意见反馈</em>
		</a>
	</div>
	<div class="toolbar-item-code">
		<a role="button" class="btn">
			<i class="icon_code"></i>
		</a>
		<a role="button" class="mfw-code _j_code">
            
			
            <img src="" width="450" height="192" />
		</a>
        <!--<div class="wx-official-pop"><img src="http://images.mafengwo.net/images/qrcode-weixin.gif"><i class="_j_closeqrcode"></i></div>-->
	</div>
    <div class="toolbar-item-down">
		<a role="button" class="btn _j_gobottom">
			<i class="icon_down"></i>
            <em>页面底部</em>
		</a>
	</div>
</div>


</body>
</html>