<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>lxy的问答 - 马蜂窝</title>
<meta name="renderer" content="webkit" />
<script type="text/javascript">
window.Env = {"target_uid":75628957,"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","W_HTTP":"http:\/\/w.mafengwo.cn","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","PAGELET_HTTP":"http:\/\/pagelet.mafengwo.cn","JS_HOST":"js.mafengwo.net","TONGJI_HOST":"tongji.mafengwo.cn","UID":75628957,"CSTK":"1e464c4a872e4a57144b3dd283fd000a_36c7f41deaa25a88e68da07e66d3b004","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ","MOBILE_BINDED":true};
</script>
<link href="front/css/topbar_v2^alw^1542357401.css" rel="stylesheet" type="text/css"/>
<link href="front/css/home_ask_v2^Zl0^1545682406.css" rel="stylesheet" type="text/css"/>
<link href="front/css/mfw-toolbar.css?1537192876" rel="stylesheet" type="text/css"/>
<link href="front/css/mfw-footer.css" rel="stylesheet" type="text/css"/>

<script language="javascript" src="front/js/inspector^alw^1556174996.js" type="text/javascript" crossorigin="anonymous"></script>
	<style>
	    .invisible {opacity:0.01; filter: alpha(opacity=1);}
	    .invisible .maps-container {opacity:0.01; filter: alpha(opacity=1);}
	</style>
</head>
<body>
<div class="topBar">
    <div class="topBarC">
        <div class="logo"><a title="马蜂窝自由行" href="/">马蜂窝自由行</a></div>
        <div class="t_nav">
            <ul id="pnl_nav" data-cs-t="headnav_wo">
                <li data-cs-p="index">
                    <strong class="t"><a href="/">首页</a></strong>
                </li>
                <li data-cs-t="wenda" data-cs-p="wenda">
                    <strong class="t"><a data-cs-p="from_wo_nav" href="/wenda/">问答</a></strong>
                </li>
                <li data-cs-t="things" data-cs-p="things">
                    <strong class="t"><a data-cs-p="from_wo_nav" href="/mall/things.php">马蜂窝周边</a></strong>
                </li>
                <li data-cs-p="together">
                    <strong class="t"><a href="/together/">结伴</a></strong>
                </li>
                <li data-cs-p="group">
                    <strong class="t"><a href="/group/">小组</a></strong>
                </li>
                <li data-cs-p="mall">
                    <strong class="t"><a href="/club/">蜂首俱乐部</a></strong>
                </li>
                <li class="drop" data-cs-p="other">
                    <strong class="t"><a href="/app/hun.php">更多<b></b></a></strong>
                    <div class="c">
                        
                        <a href="/focus/" target="_blank">真人兽</a>
                        
                        <a href="/school/" target="_blank">马蜂窝高校</a>
                        <a href="/photo_pk/prev.php" target="_blank">照片PK</a>
                        <a href="/auction/" target="_blank">马蜂窝拍卖行</a>
                        <a href="/mall/virtual_goods.php" target="_blank">道具商店</a>
                        <a href="/radio/" target="_blank">旅行电台</a>
                        <a href="/club/" target="_blank">蜂首聚乐部</a>
                        <a href="/home/vip_show.php" target="_blank">VIP</a>
                        <a href="/game/wager.php" target="_blank">分歧终端机</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="t_search">
            <form method="GET" action="/search/s.php" name="search">
                <input type="text" class="key" value="" name="q" id="word"/>
                <input type="submit" value="" class="btn"/>
            </form>
        </div>

        <div class="t_info">
        	<div  id="pagelet-block-9d5741b9c5879e3fc82cae94bf9447c1" class="" data-api="apps:user:pagelet:pageViewHeadInfo" data-params="{&quot;type&quot;:2}" data-async="1" data-controller="/js/pageletcommon/pageHeadUserInfoWWWDark"></div>
        </div>
    </div>
</div>

<input type="hidden" id="_j_param" data-type="1" data-flag="0" data-total="8" data-uid="75628957"/>
<div class="main">
    <div class="banner">    
    	<div class="banner_img banner_ask" id="_j_banner">
        </div>
    	<div class="tags_bar second_tags_bar">
    		<div class="center clearfix">
                <ul class="flt2">
		            <li><a class="tags_link" href="/u/75628957.html" title="我的窝">我的窝</a></li>
		            <li><a class="tags_link" href="/u/75628957/note.html" title="我的游记">我的游记</a></li>
		            <li class="on"><a class="tags_link" href="/wenda/u/75628957/answer.html" title="我的问答">我的问答</a></li>
		            <li id="_j_pathnav"><a class="tags_link" href="/path/75628957.html" title="我的足迹">我的足迹</a></li>
                    <li><a class="tags_link" href="/u/75628957/review.html" title="我的点评">我的点评</a></li>
                    <li><a class="tags_link" href="/u/75628957/together.html" title="我的结伴">我的结伴</a></li>
                    <li class="more ">
                		<span class="tags_link" role="button" title="更多" style="cursor:default">更多<i class="MDownMore"></i></span>
                		<div class="tags_more_list">
		                    <ul>
		                        <li data-cs-t="go_to_activity"><a href="/indexactivity/index.php" title="我的活动" data-cs-p="activity"><i class="ico_activity"></i><span>我的活动</span></a></li>
		                        <li><a href="/home/g/my.php" title="我的小组"><i class="ico_group"></i><span>我的小组</span></a></li>
		                        <li><a href="/plan/fav.php" title="我的收藏"><i class="ico_collect"></i><span>我的收藏</span></a></li>
		                        <li><a href="/order_center/" title="我的订单"><i class="ico_order"></i><span>我的订单</span></a></li>
		                        <li><a href="/sales/coupon.php" title="我的优惠券"><i class="ico_ticket"></i><span>我的优惠券</span></a></li>
		                        <li><a href="/mall/my_exchange.php" title="我的兑换"><i class="ico_exchange"></i><span>我的兑换</span></a></li>
		                        <!--<li><a href="/rent/order/boss?flag=-1" title="我的当地人"><i class="ico_rent"></i><span>我的当地人</span></a></li>-->
		                        <li><a href="/flight/passengers.php" title="常用信息"><i class="ico_information"></i><span>常用信息</span></a></li>
		                    </ul>
                		</div>
            		</li>
                </ul>
    		</div>
		</div>

	</div>

    <div class="center">
        <div class="side_bar flt1">
    		<div class="MAvatar">
		        <div class="MAvaImg hasAva">
		            <img src="img/wKgBm04C8QPu1rZOAAFnUJvyzLs97.jpeg" height="120" width="120" alt="lxy"/>
		            <a href="/setting/avatar/" class="MAvaUp"><i class="Mphoto"></i></a>
		        </div>
		        <div class="MAvaName">lxy
		                <i class="MGenderFemale"></i>                
		        </div>
		        <div class="MAvaInfo clearfix MAvaMyInfo">
		            <span class="MAvaLevel flt1">等级：<a href="/rank/lv.php" title="Lv.6" target="_blank">Lv.6</a></span>
		            <span class="MAvaPlace flt1" title="郑州">现居：郑州</span>            
		            <span class="MAvaSet"><a title="设置" href="/setting/" target="_blank"></a></span>
		        </div>
		        <div class="MAvaProfile">
		            <div class="MProfile"><pre>美食爱好</pre></div>
		        </div>
		        <div class="MAvaMore clearfix">
		            <div class="MAvaNums">
		                <strong><a href="/friend/index/follow?uid=75628957" target="_blank">7</a></strong>
		                <p>关注</p>
		            </div>
		            <div class="MAvaNums">
	                <strong><a href="#" target="_blank">0</a></strong>
	                <p>粉丝</p>
	            </div>
	        	</div>
    		</div>
		    <div class="MUsers">
		    	<div class="MUsersTitle">最新访客</div>
		    	<div class="MUsersDetail">
			        <ul class="clearfix">
			            <li>
			                <a href="/u/30658634.html" target="_blank">
			                	<img src="img/wKgBm04C8QPu1rZOAAFnUJvyzLs97.jpeg" height="48" width="48" alt="一大只白" title="一大只白"/>
			                </a>
			                <p><a href="/u/30658634.html" target="_blank" title="一大只白">一大只白</a></p>
			            </li>
			        </ul>
			        <!--<div class="MSimplePages"><span class="MPrev" title="上一页"></span><span class="MNext" title="下一页"></span></div>-->
		    	</div>
			    <div class="MUsersBehavior">
			        <span>累计访问<i>2</i></span><span>今日<i>0</i></span>
			    </div>
			</div>
		    <div class="MGuestbook" id="_j_msgboard_wrap">
		    	<div class="MGuestTitle">留言板
		            <div class="MCloseFunction _j_msgboard_closer">
		            	<i></i>
		            	<div class="MTips MTipsRight">关闭我的留言板（不让其他人留言）</div>
		        	</div>
		        </div>
			    <div class="MGuestInput">
			        <textarea class="_j_msgboard_area" placeholder="说点什么..."></textarea>
			        <a role="button" class="MGuestBtn" title="留言" id="_j_msgboard_submit">留言</a>
			    </div>
		    	<div class="MGuestList">
		        	<ul class="_j_msgboard_list">
		            
		        	</ul>
		        </div>
			</div>

    	</div>
    	<div class="content flt2">
	    	<div class="achievement clearfix">
	        	<ul>
	            	<li><a><strong>8</strong><div>内容数</div></a></li>
	            	<li>
	                    <strong class="goldmedal"><i></i>0</strong><div>金牌回答</div>
	                </li>
	            	<li><strong>0%</strong><div>采纳率</div></li>
	        	</ul>
	            <a class="btn" href="/wenda/publish.html">我要提问</a>
	        </div>
	    	<div class="wd-main">
    		<div class="wd-navbar clearfix">
			    <ul class="wd-nav _j_qa_nav">
			        <li class="on"><a href="/wenda/u/75628957/answer.html">我的回答</a></li>
			        <li ><a href="/wenda/u/75628957/question.html">我的提问</a></li>
			        <li ><a href="/wenda/u/75628957/solution.html">我来解答</a></li>
			        <li ><a href="/wenda/u/75628957/care.html">关注问题</a></li>
			        <li ><a href="/wenda/u/75628957/collect.html">收藏回答</a></li>
			        <li ><a href="/wenda/u/75628957/draft.html">草稿箱</a></li>
			    </ul>
			</div>
			<div class="wd-dropdown _j_cange_type_dropdown" >
    			<div class="trigger _j_change_type_div">
        			<i class="i-down"></i>
        			<span class="_j_change_text value">所有回答</span>
    			</div>
			</div>
			<div class="wd-total">共有<span class="_j_total_item">8条</span>回答</div>
    		<div class="wd-list _j_qa_list">
        		<div class="wd-item">
            		<div class="wd-medal"></div>
            		<div class="wd-title">
                        <a href="/wenda/detail-17763624-17786603.html" target="_blank">
                        	<span class="label-mdd"><i></i>郑州</span>郑州方特欢乐世界值得去吗？推荐玩儿什么才能值回票价？
                        </a>
                    </div>
		            <div class="wd-detail">
		                                               挺好玩的，可以去。基本玩一天梦幻王国就挺满足的。小孩子不要玩太激烈的，让他们做旋转木马什么的，这就可以。基本上我把方特已经玩了个遍，如果去鬼屋建议就不要去了，感觉没什么的，就走了一趟，体验一下一人要25吧。而且如果有东西带着是很不方便的，...
		            </div>
            		<div class="wd-meta">
                		<span class="meta-item meta-like">
                    		<i></i>0
                		</span>
                		<div class="meta-pull">
                    		<span class="meta-item meta-commit">0评论</span>
                    		<span class="meta-item meta-time">2019-05-31 12:31</span>
                            <span class="meta-item meta-status">
                         		  待采纳
                            </span>
                        </div>
            		</div>
        		</div>
    		</div>
    		<div class="pagin" id="smallpager"></div>
		</div>
		</div>
    </div>
</div>


<div id="footer">
	<div class="ft-content" style="width: 1105px">
	<div class="ft-safety">
	    <a class="s-a" target="_blank" href="#" id="___szfw_logo___"></a>
	    <a class="s-b" href="#" target="_blank" rel="nofollow"></a>
	    <a class="s-c" href="#" target="_blank" rel="nofollow"></a>
	    <a class="s-d" href="#" target="_blank" rel="nofollow"></a>
	</div>
	
	</div>
</div>

<div class="mfw-toolbar" id="_j_mfwtoolbar">
    <div class="toolbar-item-top">
		<a role="button" class="btn _j_gotop">
			<i class="icon_top"></i>
            <em>返回顶部</em>
		</a>
	</div>
	<div class="toolbar-item-feedback">
		<a role="button" data-japp="feedback" class="btn">
			<i class="icon_feedback"></i>
            <em>意见反馈</em>
		</a>
	</div>
    <div class="toolbar-item-down">
		<a role="button" class="btn _j_gobottom">
			<i class="icon_down"></i>
            <em>页面底部</em>
		</a>
	</div>
</div>

</body>
</html>
