<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<base href="http://localhost:8081/"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>登录</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="renderer" content="webkit" />
<script type="text/javascript" src="front/js/jquery-3.1.1.js"></script>
<script type="text/javascript">
	function sub(){
		var con=$("#content").html();
		$.ajax({
			url:"texts",
			type:"post",
			data:{"str":con},	
			success:function(data){
				window.location.href="http://localhost:8081/toPage?url=front/ulogin";
			}
		});
	}
	function ccc(){
		$.ajax({
			url:"text2",
			type:"post",
			success:function(data){
				$("#cc").html(data);
			}
		});
	}
</script>
</head>
<body>
	<form action="users/user_login" style="text-align: center;">
		<input type="text" name="usName"/><br/>
		<input type="text" name="usPwd"/><br/>
		<select>
			<option>1</option>
			<option>1</option>
			<option>1</option>
			<option>1</option>		
		</select>
		<input type="submit" value="登录"/>
	</form>
</body>
</html>